kokoro>=0.9.4
langchain>=0.3.27
langchain-community>=0.3.30
langchain-core>=0.3.78
langchain-google-genai>=2.1.12
langgraph>=0.6.8
loguru>=0.7.3
numpy>=2.3.3
realtimestt>=0.3.104
sounddevice>=0.5.2
tavily-python>=0.7.12
torch>=2.8.0
httpx>=0.27.0